.lightMode{
    --background-color: #4ce0d2;
    --font-color: #000;
    --menu-background-color: #b1efe5;
    --page-background-color: #f8f9fa;
    --title-font-color: #006d77;
}

.darkMode{
    --background-color: #4169e1;
    --font-color: #ffffff;
    --menu-background-color: #2196f3;
    --page-background-color: #00171f;
    --title-font-color: #1976d2;
}

.appContainer{
    background-color: var(--page-background-color);
    color: var(--font-color);
    min-height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
}