.forgotPasswordContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.forgotPasswordFormContainer{
    max-width: 350px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forgotPasswordForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
}

.forgotPasswordFormContainer h3{
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 10px;
}

.forgotPasswordForm input{
    background-color: transparent;
    border: 1px solid #adb5bd;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    padding: 0 15px;
    font-size: 16px;
    color: var(--font-color);
    font-weight: 700;
}

.forgotPasswordForm button{
    height: 40px;
    background-color: var(--background-color);
    color: var(--font-color);
    font-size: 16px;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.impNote{
    font-size: 13px;
    margin-bottom: 20px;
    color: #666666;
}

.successMessageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    animation: inout 1s;
}

.checkIcon{
    font-size: 50px;
    text-align: center;
    color: var(--background-color);
}

.successMessageContainer h4{
    font-size: 20px;
    font-weight: 600;
    color: var(--font-color);
}

.successMessageContainer span{
    font-size: 13px;
    margin-top: -10px;
    cursor: pointer;
}

.successMessageContainer span:hover{
    text-decoration: underline;
}

@keyframes inout{
    0%{
        transform: scale(.5);
    }
    100%{
        transform: scale(1);
    }
}